@use '../utils/variables' as v;
@use '../utils/mixins';


.new-container {
    margin: 30px 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .new-container-title {
        h2 {
            font-size: 2rem;
            color: v.$darkgreen;
        }
    }

    .form-container {
        background-color: v.$offwith;
        border-radius: 10px;
        box-shadow: 2px 2px 15px 0.5px v.$darkblue;
        padding: 30px 45px;
        width: 50%;
    }
}