@use '../utils/variables' as v;
@use '../utils/mixins';


.new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .new-container-title {
        h2 {
            color: v.$darkgreen;
            
            @include mixins.xs {
                font-size: 2rem;
            }
        }
    }

    .form-container {
        background-color: v.$offwith;
        border-radius: 10px;
        box-shadow: 2px 2px 15px 0.5px v.$darkblue;
        padding: 30px 55px;
        width: fit-content;
    }
}