// --- 
// MIXINS
// ---
// @mixin xxs {
//     @media (min-width: 375px) {
//         @content;
//     }
// }

// @mixin xs {
//     @media (min-width: 576px) {
//         @content;
//     }
// }

@mixin sm {
    @media (min-width: 720px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 920px) {
        @content;
    }
}

// @mixin lg {
//     @media (min-width: 1024px) {
//         @content;
//     }
// }

// @mixin xl {
//     @media (min-width: 1200px) {
//         @content;
//     }
// }

// @mixin xxl {
//     @media (min-width: 1400px) {
//         @content;
//     }
// }
