// ---
// COLORS 
// ---

$black: #000;
$white: #fff;
$red: #ca0f0f;
$green: #687f11;
$lightyellow: #f3f2d5;
$offwith: #f4f4f4;
$lightgrey: #ecebeb;
$lightgreen: #93ad18;
$darkblue: rgba(0, 0, 255, 0.2);
$darkgreen: #344f04;