@use '../utils/variables' as v;
@use '../utils/mixins';

.react-datepicker__input-container {
    display: flex;
    align-items: center;
    position: relative;

    .react-datepicker__calendar-icon {
        order: 1;
        position: absolute;
        right: 25px;
        pointer-events: none;
    }

    .react-datepicker__close-icon {
        border-radius: 0;
        box-shadow: none;

        &:hover {
            background-color: transparent;
        }

        &::after {
            background-color: v.$green;
            position: absolute;
            bottom: 12px;
            right: 0;

        }
    }

    label {
        margin-bottom: 3px;
    }

    input {
        width: 100%;
        padding: 6px 10px;
        background-color: transparent !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid;
    }
}