@use '../utils/variables' as v;
@use '../utils/mixins';

.datepicker {
    background-color: v.$offwith;
    padding: 15px;

    button {
        box-shadow: none !important;
        border: none !important;

        .rdp-chevron {
            fill: v.$darkgreen;
        }

        &:hover {
            background-color: v.$lightgreen;
            
        }
    }

    .rdp-today {
        color: v.$darkgreen !important;
    }
}