@use '../utils/variables' as v;
@use '../utils/mixins';


form {
  width: 100%;
  display: grid;
  gap: 30px;

  section {
    p {
      font-size: 2rem;
      color: v.$green;
      font-weight: 700;
      margin-bottom: 15px;

      @include mixins.xs {
          font-size: 1rem;
      }
    }

    .identity-inputs-container,
    .container {
      display: grid;
      gap: 15px;
    }

    .name-inputs-container {
      display: grid;
      gap: 15px;
      
      @include mixins.md {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
      }

    }

    .firstName-content,
    .lastName-content,
    .date-of-birth-container,
    .content {
      display: flex;
      flex-direction: column;

      label {
        font-size: 24px;
        margin-bottom: 3px;

        @include mixins.xs {
            font-size: 16px;
        }
      }

      input {
        padding: 6px 10px;
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid;

        &::placeholder {
          font-size: 20px;
          
          @include mixins.xs {
              font-size: 14px;
          }
        }
      }
    }
  }
}